#table {
  border-collapse: collapse;
}

#table td{
  border: 1px solid #ddd;
  width: 80px;
  height: 80px;
}

#table tr:nth-child(odd) td:nth-child(even){
  background-color: gray;
}

#table tr:nth-child(even) td:nth-child(odd){
  background-color: gray;
}

img{
  width: 80px;
  height: 80px;
}